{% extends "base.html" %}

{% block htmltitle %}
  {% if page.meta and page.meta.title %}
    <title>{{ page.meta.title }} | Codon</title>
  {% elif page.title and not page.is_homepage %}
    <title>{{ page.title | striptags }} | Codon</title>
  {% else %}
    <title>Documentation | Codon</title>
  {% endif %}
{% endblock %}

{% block announce %}
  <a href="https://discord.gg/HeWRhagCmP">
    <strong>
      🎉 Join our community on Discord
      <span class="discord-icon">
        {% include ".icons/fontawesome/brands/discord.svg" %}
      </span>
    </strong> — Ask questions, share ideas, and get support!
  </a>
{% endblock %}
